.pop-up__text {
  padding: 0;
  width: 358px;
  height: 36px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .pop-up__text {
    width: 238px; 
  }
}